@keyframes bounceOnce {
	0%,
	8%,
	100% {
		transform: translateY(0);
	}
	4% {
		transform: translateY(-8px);
	}
}

.heroContainer {
	display: flex;
	justify-content: center;
	.heroWrapper {
		width: 100%;
		max-width: 1280px;
		padding: 125px 0px;

		@media only screen and (max-width: 1023px) {
			padding: 26px 0;
		}
		.heroContent {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media only screen and (max-width: 1023px) {
				flex-direction: column-reverse;
				gap: 50px;
				padding: 0 40px;
			}

			@media only screen and (max-width: 767px) {
				padding: 0 20px;
			}

			.heroTxt {
				h1 {
					color: #01103d;
					font-family: Manrope;
					font-size: 50px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 2.5px;

					span {
						color: #2e8afe;
					}

					@media only screen and (max-width: 1023px) {
						font-size: 44px;
					}

					@media only screen and (max-width: 767px) {
						font-size: 24px;
						text-align: center;
					}
				}

				h2 {
					color: #2e8afe;
					font-family: Manrope;
					font-size: 62px;
					font-style: normal;
					font-weight: 800;
					line-height: normal;
					letter-spacing: 3.1px;
					padding-bottom: 12px;

					@media only screen and (max-width: 1023px) {
						font-size: 48px;
					}

					@media only screen and (max-width: 767px) {
						font-size: 34px;
						text-align: center;
						padding-bottom: 8px;
					}
				}

				p {
					color: #01103d;
					font-family: Manrope;
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					letter-spacing: 0.9px;
					max-width: 711px;

					@media only screen and (max-width: 1023px) {
						font-size: 16px;
						max-width: none;
					}

					@media only screen and (max-width: 767px) {
						font-size: 15px;
						text-align: center;
					}
				}
			}

			.heroBtns {
				display: flex;
				width: 100%;
				gap: 16px;
				padding-top: 30px;

				@media only screen and (max-width: 1023px) {
					padding-top: 16px;
				}

				@media only screen and (max-width: 767px) {
					padding-top: 16px;
					flex-direction: column;
					align-items: center;
					gap: 10px;
				}

				button {
					width: 100%;
					color: #2e8afe;
					font-family: Manrope;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 0.8px;
					border-radius: 10px;
					border: 1px solid #2e8afe;
					background: #fff;
					height: 45px;
					max-width: 200px;

					svg {
						transition: all 0.3s ease;
					}

					@media only screen and (max-width: 767px) {
						width: 100%;
						max-width: none;
					}

					.arrowWrapper {
						display: inline-block; // чтобы transform работал корректно
						animation: bounceOnce 10s ease infinite;
					}

					&:hover {
						svg {
							transform: translateY(-8px);
						}
					}
				}

				.blueBtn {
					color: #f4f4f4;
					font-family: Manrope;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 0.8px;
					border-radius: 10px;
					background: #2e8afe;
					max-width: 255px;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;

					@media only screen and (max-width: 767px) {
						width: 100%;
						max-width: none;
					}
				}
			}

			.heroRightWrapper {
				width: 100%;
				max-width: 443px;
				display: flex;
				justify-content: center;
				position: relative;
			}

			.heroRight {
				img {
					max-width: 266px;
					max-height: 266px;

					@media only screen and (max-width: 767px) {
						max-width: 300px;
					}
				}
			}
		}
	}
}

.rateContainer {
	display: flex;
	justify-content: center;
	padding: 150px 55px;

	@media only screen and (max-width: 1023px) {
		padding: 80px;
	}

	@media only screen and (max-width: 767px) {
		padding: 45px 20px;
	}

	.rateWrapper {
		width: 100%;
		max-width: 1280px;
		display: flex;
		justify-content: center;
		.rateBlueBlock {
			border-radius: 5px;
			background: #2e8afe;
			width: 100%;
			max-width: 1230px;
			min-height: 630px;

			@media only screen and (max-width: 767px) {
				transform: rotate(0deg);
				background: #f3f3f3;
			}

			.rateContent {
				border-radius: 14px;
				border: 2px dashed #2e8afe;
				background: linear-gradient(271deg, #f3f3f3 1.32%, #fff 98.68%);
				width: 100%;
				// max-width: 1200px;
				min-height: 630px;
				transform: rotate(6.132deg);
				display: flex;
				align-items: center;

				@media only screen and (max-width: 1023px) {
					min-height: 757px;
					flex-direction: column;
				}

				@media only screen and (max-width: 767px) {
					transform: rotate(0deg);
					padding: 12px 20px;
					flex-direction: column-reverse;
					gap: 20px;
				}

				.rateLeft {
					transform: rotate(-6.132deg);
					display: flex;
					flex-direction: column;
					gap: 16px;
					padding-left: 65px;

					@media only screen and (max-width: 1023px) {
						padding-top: 50px;
					}

					@media only screen and (max-width: 767px) {
						transform: rotate(0deg);
						padding: 0;
					}

					h2 {
						color: #01103d;
						font-family: Manrope;
						font-size: 44px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 2.2px;
						max-width: 685px;

						@media only screen and (max-width: 1023px) {
							font-size: 32px;
							max-width: 493px;
						}
					}

					span {
						color: #2e8afe;
						font-family: Manrope;
						font-size: 44px;
						font-style: normal;
						font-weight: 800;
						line-height: normal;
						letter-spacing: 2.2px;

						@media only screen and (max-width: 1023px) {
							font-size: 36px;
						}
					}

					p {
						color: #01103d;
						font-family: Manrope;
						font-size: 18px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 0.9px;
						max-width: 595px;

						@media only screen and (max-width: 1023px) {
							max-width: none;
							font-size: 16px;
							padding-right: 55px;
						}

						@media only screen and (max-width: 767px) {
							padding-right: 0;
						}
					}
				}
			}
		}
	}
}

.percentageContainer {
	padding: 40px 0;
	background: #eaf1fb;
	display: flex;
	justify-content: center;

	@media only screen and (max-width: 1023px) {
		padding: 20px 0;
	}

	@media only screen and (max-width: 767px) {
		min-height: 360px;
	}

	.percentageWrapper {
		width: 100%;
		max-width: 1280px;

		.percentageContent {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;

			@media only screen and (max-width: 1023px) {
				flex-direction: column;
			}

			.block {
				text-align: center;

				h3 {
					color: #01103d;
					text-align: center;
					font-family: Manrope;
					font-size: 62px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 3.1px;

					@media only screen and (max-width: 1023px) {
						font-size: 48px;
						letter-spacing: normal;
					}

					@media only screen and (max-width: 767px) {
						font-size: 34px;
					}
				}

				p {
					color: #01103d;
					text-align: center;
					font-family: Manrope;
					font-size: 18px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 0.9px;

					span {
						color: #2e8afe;
					}

					@media only screen and (max-width: 1023px) {
						font-size: 16px;
					}

					@media only screen and (max-width: 767px) {
						font-size: 15px;
					}
				}
			}

			.line {
				width: 100px;
				height: 2px;
				border-top: 2px dashed #2e8afe;
			}
		}
	}
}

.advantagesContainer {
	display: flex;
	justify-content: center;
	padding: 130px 0px;

	@media only screen and (max-width: 1023px) {
		padding: 95px 0;
	}

	@media only screen and (max-width: 767px) {
		padding: 60px 0;
	}

	.advantagesWrapper {
		width: 100%;
		max-width: 1280px;

		h2 {
			color: #2e8afe;
			text-align: center;
			font-family: Manrope;
			font-size: 44px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 2.2px;
			padding-bottom: 16px;

			@media only screen and (max-width: 1023px) {
				font-size: 36px;
			}

			@media only screen and (max-width: 767px) {
				font-size: 26px;
			}
		}
		.advantagesContent {
			display: flex;
			flex-direction: column;
			gap: 18px;
			align-items: center;

			@media only screen and (max-width: 1023px) {
				padding: 0 40px;
			}

			@media only screen and (max-width: 767px) {
				padding: 0 20px;
			}

			.advantagesList {
				display: flex;
				align-items: center;
				gap: 12px;
				padding: 12px;
				border-radius: 10px;
				border: 2px dashed #2e8afe;
				background: #fff;
				box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-025)
						var(--sds-size-depth-100) var(--sds-size-depth-0)
						var(--sds-color-black-200),
					var(--sds-size-depth-0) var(--sds-size-depth-025)
						var(--sds-size-depth-100) var(--sds-size-depth-0)
						var(--sds-color-black-100);

				transition: transform 0.4s ease;
				transform: scale(1);
				will-change: transform;

				@media only screen and (max-width: 1023px) {
					padding: 10px 12px;
				}

				&.active {
					transform: scale(1.1);
					z-index: 1;

					@media only screen and (max-width: 1100px) {
						transform: scale(1.05);
					}
				}

				h3 {
					color: #01103d;
					font-family: Manrope;
					font-size: 22px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: 1.1px;
					padding-bottom: 8px;

					@media only screen and (max-width: 1023px) {
						font-size: 20px;
					}

					@media only screen and (max-width: 767px) {
						font-size: 18px;
					}
				}

				p {
					color: #01103d;
					font-family: Manrope;
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					letter-spacing: 0.9px;
					max-width: 858px;

					@media only screen and (max-width: 1023px) {
						font-size: 16px;
						max-width: none;
					}

					@media only screen and (max-width: 767px) {
						font-size: 14px;
					}
				}
			}

			& :nth-child(even) {
				background: none;
				border: none;
			}
		}
	}
}

.appContainer {
	display: flex;
	justify-content: center;
	background: #eaf1fb;
	padding-top: 128px;
	padding-bottom: 25px;

	@media only screen and (max-width: 1023px) {
		padding-top: 55px;
	}

	@media only screen and (max-width: 767px) {
		padding-top: 134px;
	}

	.appWrapper {
		width: 100%;
		max-width: 1280px;
		.appContent {
			display: flex;
			flex-direction: column;
			gap: 70px;

			@media only screen and (max-width: 1023px) {
				padding: 0 40px;
				gap: 0;
			}

			@media only screen and (max-width: 767px) {
				padding: 0 20px;
			}

			.appTop {
				.appMockups {
					max-height: 200px;
					display: flex;
					justify-content: center;
					align-items: center;

					@media only screen and (max-width: 1023px) {
						max-height: 240px;
						display: flex;
						align-items: flex-end;
					}

					@media only screen and (max-width: 767px) {
						max-height: 80px;
					}

					img {
						max-width: 367px;

						@media only screen and (max-width: 1023px) {
							max-width: 265px;
						}

						@media only screen and (max-width: 767px) {
							max-width: 210px;
						}
					}
				}
				.appBlock {
					display: flex;
					align-items: center;
					justify-content: space-around;
					width: 100%;
					border-radius: 5px;
					border: 2px dashed #ccc;
					background: #fff;
					box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2),
						0px 4px 20px 0px rgba(0, 0, 0, 0.1);

					@media only screen and (max-width: 1023px) {
						padding: 0 22px;
						justify-content: space-between;
					}

					@media only screen and (max-width: 767px) {
						flex-direction: column;
						align-items: center;
						padding: 0 12px;
					}

					h2 {
						color: #01103d;
						font-family: Manrope;
						font-size: 44px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 2.2px;

						@media only screen and (max-width: 1023px) {
							font-size: 36px;
							max-width: 340px;
						}

						@media only screen and (max-width: 767px) {
							font-size: 24px;
						}
					}

					h3 {
						color: #2e8afe;
						font-family: Manrope;
						font-size: 32px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						letter-spacing: 1.6px;
						max-width: 684px;

						@media only screen and (max-width: 1023px) {
							font-size: 20px;
							max-width: 370px;
						}

						@media only screen and (max-width: 767px) {
							font-size: 18px;
							padding-bottom: 24px;
						}
					}
				}
			}

			.appBottom {
				display: flex;
				align-items: center;
				gap: 18px;
				padding-top: 18px;

				@media only screen and (max-width: 1023px) {
					flex-direction: column;
					padding-top: 12px;
				}

				.appBlock {
					border-radius: 5px;
					border: 2px dashed #2e8afe;
					background: #fff;

					box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2),
						0px 4px 20px 0px rgba(0, 0, 0, 0.1);
					padding: 18px 22px;
					display: flex;
					flex-direction: column;
					gap: 16px;

					@media only screen and (max-width: 1023px) {
						gap: 8px;
					}

					@media only screen and (max-width: 767px) {
						padding: 18px 12px;
					}

					h2 {
						color: #333;
						font-family: Manrope;
						font-size: 22px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						letter-spacing: 1.1px;

						@media only screen and (max-width: 1023px) {
							font-size: 20px;
						}

						@media only screen and (max-width: 767px) {
							font-size: 18px;
						}
					}

					h3 {
						color: #333;
						font-family: Manrope;
						font-size: 18px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						letter-spacing: 0.9px;

						@media only screen and (max-width: 1023px) {
							font-size: 16px;
							max-width: none;
						}

						@media only screen and (max-width: 767px) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

.chooseContainer {
	display: flex;
	justify-content: center;
	padding-top: 176px;
	padding-bottom: 135px;

	@media only screen and (max-width: 1115px) {
		padding-right: 70px;
		padding-left: 70px;
	}

	@media only screen and (max-width: 1023px) {
		padding: 95px 85px;
	}

	@media only screen and (max-width: 767px) {
		padding: 48px 20px;
	}
	.chooseWrapper {
		width: 100%;
		max-width: 1280px;
		display: flex;
		justify-content: center;
		.chooseBlueBlock {
			border-radius: 14px;
			background: #2e8afe;
			width: 100%;
			min-height: 468px;
			transform: rotate(-7.124deg);
			max-width: 1115px;

			@media only screen and (max-width: 767px) {
				background: #f3f3f3;
				transform: rotate(0deg);
			}

			.chooseContent {
				width: 100%;
				border-radius: 14px;
				border: 2px dashed #2e8afe;
				background: linear-gradient(271deg, #f3f3f3 1.32%, #fff 98.68%);
				max-width: 1110px;
				min-height: 495px;
				transform: rotate(7.124deg);
				display: flex;
				justify-content: center;
				flex-direction: column;
				gap: 50px;

				@media only screen and (max-width: 1023px) {
					gap: 24px;
				}

				@media only screen and (max-width: 767px) {
					transform: rotate(0deg);
				}

				.chooseTop {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					gap: 12px;
					h2 {
						color: #01103d;
						text-align: center;
						font-family: Manrope;
						font-size: 44px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 2.2px;
						padding-top: 30px;

						@media only screen and (max-width: 1023px) {
							padding-top: 20px;
							font-size: 36px;
						}

						@media only screen and (max-width: 767px) {
							font-size: 24px;

							span {
								color: #2e8afe;
							}
						}
					}

					h3 {
						color: #01103d;
						text-align: center;
						font-family: Manrope;
						font-size: 18px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 0.9px;
						max-width: 867px;
						width: 100%;

						@media only screen and (max-width: 1023px) {
							font-size: 18px;
						}

						@media only screen and (max-width: 767px) {
							font-size: 17px;
						}
					}
				}

				.chooseBottom {
					display: flex;
					justify-content: space-around;
					padding: 5px;
					gap: 5px;

					@media only screen and (max-width: 1023px) {
						flex-direction: column;
						gap: 12px;
						padding: 0 24px;
						padding-bottom: 20px;
					}

					@media only screen and (max-width: 767px) {
						padding: 0 12px;
						padding-bottom: 12px;
					}

					.chooseBlock {
						border-radius: 5px;
						border: 2px dashed #2e8afe;
						background: #fff;
						box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2),
							0px 4px 20px 0px rgba(0, 0, 0, 0.1);
						padding: 12px 23px;

						@media only screen and (max-width: 767px) {
							padding: 18px 12px;
						}

						h2 {
							color: #333;
							font-family: Manrope;
							font-size: 22px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
							letter-spacing: 1.1px;
							padding-bottom: 16px;

							@media only screen and (max-width: 1023px) {
								font-size: 20px;
							}

							@media only screen and (max-width: 767px) {
								font-size: 18px;
								text-align: center;
							}
						}

						ul {
							display: flex;
							flex-direction: column;
							gap: 16px;

							li {
								display: flex;
								align-items: center;
								gap: 12px;

								svg {
									max-width: 30px;
								}

								p {
									color: #333;
									font-family: Manrope;
									font-size: 18px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
									letter-spacing: 0.9px;
									max-width: 383px;

									@media only screen and (max-width: 1023px) {
										max-width: none;
										font-size: 16px;
									}

									@media only screen and (max-width: 767px) {
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.trackingContainer {
	display: flex;
	justify-content: center;
	background: #eaf1fb;
	padding: 45px 0px;
	margin-bottom: 80px;

	@media only screen and (max-width: 1023px) {
		margin-bottom: 32px;
	}

	.trackingWrapper {
		width: 100%;
		max-width: 1280px;
		.trackingContent {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			@media only screen and (max-width: 767px) {
				padding: 0 20px;
			}

			h2 {
				color: #01103d;
				text-align: center;
				font-family: Manrope;
				font-size: 44px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: 2.2px;
				padding-bottom: 16px;
				max-width: 612px;

				@media only screen and (max-width: 1023px) {
					font-size: 32px;
				}

				@media only screen and (max-width: 767px) {
					font-size: 26px;
				}
			}

			span {
				color: #2e8afe;
			}

			p {
				color: #01103d;
				text-align: center;
				font-family: Manrope;
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: 0.9px;
				max-width: 612px;

				@media only screen and (max-width: 1023px) {
					font-size: 16px;
				}
			}

			.trackingDash {
				border: 1px dashed #2e8afe;
				max-width: 140px;
				width: 100%;
				margin: 10px 0;
			}

			.trackingBtn {
				width: 100%;
				display: flex;
				justify-content: center;
				button {
					color: #f4f4f4;
					font-family: Manrope;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					letter-spacing: 0.8px;
					border-radius: 10px;
					background: #2e8afe;
					max-width: 255px;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
					height: 46px;
					width: 100%;

					svg {
						transition: all 0.3s ease;
					}

					.arrowWrapper {
						display: inline-block; // чтобы transform работал корректно
						animation: bounceOnce 10s ease infinite;
					}

					&:hover {
						svg {
							transform: translateY(-8px);
						}
					}
				}
			}
		}
	}
}
