/* ===============================
   🌐 GLOBAL RESETS & NORMALIZATION
   =============================== */
@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	margin: 0;
	color: #0f0f0f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	/* overflow-x: hidden; */
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button,
input,
textarea,
select {
	outline: none;
	border: none;
	background: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f3f3f3;
}

ul,
ol {
	list-style: none;
}

button {
	cursor: pointer;
}

img,
svg {
	max-width: 100%;
	display: block;
}

html {
	scroll-behavior: smooth;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}
